
.form-edit-user {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

mat-form-field{
  margin-bottom: -1.25em;
}

.card{
  margin-top: 50px;
  border: 2px solid #000;
}