<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <div class="container-fluid text-center text-md-left">

      <div class="row">

        <div class="col-md-6 mt-md-0 mt-3 text-center">
          <p>Contacto: </p>
          <address style="text-size-adjust: 80%">
                Calle nueva <br> Burjassot, Valencia<br> España<br>
                <i><fa-icon [icon]="faPhone"></fa-icon></i>: +555 555 5555<br>
                <i><fa-icon [icon]="faFax"></fa-icon></i>: +555 555 5555<br>
                <i><fa-icon [icon]="faEnvelope"></fa-icon></i>:
                <a href="mailto:mitienda@moviles.net">miyofuturo@gmail.com</a>
            </address>

        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
          <div class="col-md-6 mb-md-0 mb-3 text-center">

            <p class="text-uppercase">Redes sociales</p>

            <div style="text-align:center">
                <a mat-icon-button class="btn-google-plus" href="http://google.com/"><fa-icon [icon]="faGoogle"></fa-icon></a>
                <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><fa-icon [icon]="faFacebook"></fa-icon></a>
                <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><fa-icon [icon]="faLinkedin"></fa-icon></a>
                <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><fa-icon [icon]="faTwitter"></fa-icon></a>
                <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><fa-icon [icon]="faYoutube"></fa-icon></a>
                <a mat-icon-button class="btn-mail" href="mailto:"><fa-icon [icon]="faEnvelope"></fa-icon></a>
            </div>

          </div>

      </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2021 Copyright: Mi Yo Futuro 
    </div>


  </footer>
