
mat-card{
    margin-top: 50px;
    border: 2px solid #000
}

mat-form-field {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.row{
    align-items: center;
    justify-content: center;
}

mat-radio-button{
    margin-left: 16px;
}