<app-cabecera></app-cabecera>
<div class="container">
    <div class="d-flex justify-content-around align-items-center">
        <div class="content">
            <h1 style="font-size: 36px;"> <strong>Mi Yo Futuro</strong>
                : orientación y seguimiento
                académico <br>
                para <strong>estudiantes</strong></h1>    
            <p style="margin-top: 20px;">Mi Yo Futuro es un seguimiento acedémico del estudiante, proporciona recogida de notas, sugerencia de eventos, academias, carreras</p>
            <button  mat-raised-button color="accent" routerLink="/test">Comenzar el test de personalidad</button>
            <button mat-button color="accent" style="margin-left: 10px;" routerLink="/asignaturas">Comenzar con tus asignaturas</button>
        </div>

        <img src="../../../assets/images/logo-MIYOFUTURO.png" height="400" width="400">
    </div>
</div>
<div class="container">
    <h1 style="font-size: 36px; text-align: center;"> <strong>Eventos cercanos</strong></h1>
    <div class="d-flex justify-content-around align-items-center">
        <div class="content text-center">
            <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"[animation]="'slide'">
                <mdb-carousel-item *ngFor="let item of slides; let i = index">
                    <div class="col-md-12" *ngFor="let card of item; let cardIndex = index">
                        <mdb-card class="my-1">
                            <mdb-card-body>
                                <mdb-card-title>
                                    <h4>{{card.nombre}}</h4>
                                </mdb-card-title>
                                <p>{{card.descripcion}}</p>
                                <p> <fa-icon [icon]="faCalendar"> </fa-icon> {{card.fecha}}</p>
                                <button  mat-raised-button color="accent" [routerLink]="['/eventos', card.idevento]">Ir al evento</button>
                            </mdb-card-body>
                           
                        </mdb-card>
                    </div>
                </mdb-carousel-item>
            </mdb-carousel>
            <button mat-button color="accent" style="margin-left: 10px;" routerLink="/eventos">Ir a todos los eventos</button>
        </div> 
    </div>
</div>
<app-footer></app-footer>