
.container{
    margin-top: 50px;
}

.content{
    width: 90%;
}
.d-flex{
    height: 550px;
}


.carousel-indicators.ng-star-inserted{
    background: blue;
}

mdb-card{
    border: 1px solid #000;
}