<div class="container text-center">
    <mat-toolbar color="primary">
           Reenvio de contraseña
            <span class="flex-spacer"></span>
    </mat-toolbar>
    <mat-dialog-content style="margin-top: 10px;">
        <div class="form-group" style="margin-bottom: 10px;">
            <input type="email" class="form-control" [formControl]="userEmail" placeholder="Email" required>
        </div>
        <div class="form-group">
            <button mat-raised-button color="accent" style="margin-top: 10px;" (click)="sendEmail()">Enviar</button>
        </div>
        
    </mat-dialog-content>

</div>

