<app-cabecera></app-cabecera>
<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <h3><fa-icon [icon]="faVial"></fa-icon> Mis asignaturas</h3>
        </div>
        <div class="card-body">
               
                <table class="table table-hover">
                    <thead>
                        <tr class="text-center">
                            <th>ID</th>
                            <th>Asignatura</th>
                            <th>Curso</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let asig of asignaturas">
                            <td>{{asig.idasignatura}}</td>
                            <td>{{asig.nombre}}</td>
                            <td>{{usuario.curso}}</td>
                            <td>
                                <button class="btn btn-danger" style="margin-left: 10px;" (click)="deleteAsignatura(asig.idasignatura)">Borrar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <mat-divider horizontal></mat-divider>

                <form novalidate [formGroup]="asignaturaForm" (ngSubmit)="addAsignatura()">  
                    <div class="row text-center">
                        <mat-form-field appearance="outline" disabled>
                            <mat-label>Rama</mat-label>
                            <mat-select placeholder="Elige la rama de asignaturas" id="rama" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedRama" (selectionChange)="chooseRama(selectedRama)">
                                <mat-option  *ngFor="let rama of getKeys(ramasAsignaturas)" [value]="rama">
                                   {{rama}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        
                        <mat-form-field *ngIf="selectedRama" appearance="outline" style="margin-left: 10px;" > 
                            <mat-label>Asignatura</mat-label>
                            <mat-select placeholder="Elige las asignaturas" formControlName="nombre" id="asignatura">
                                <mat-option *ngFor="let asig of allAsignaturas" [value]="asig">
                                    {{asig}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
    
                    </div>
                    <div class="row text-center">
                        <button class="btn btn-success">Añadir asignatura</button>
                    </div>
                </form>
        </div>
    </div>
</div>
<app-footer></app-footer>
