
mat-card-header{
    justify-content: center;
}

textarea{
    width: 100%;

}

mat-card{
    margin-top: 50px;
    border: 2px solid #000;
}

.card{
    margin-top: 10px;
    border: 2px solid #000;
}